body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    padding: 40px;
    padding-bottom: 60px;
}

form {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

form input[type="text"] {
    border-radius: 5px;
    border: 1px solid #022B3A;
    background: #FFFFFF;
    margin-right: 10px;
    padding: 10px;
    flex-grow: 1;
    width: 400px;
}

form button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #022B3A;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #E1E5F2;
}

.list-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.list-content span {
    padding-left: 10px;
}

.buttons {
    display: flex;
    align-items: center;
}

.logout-button {
    position: absolute;
    top: 50px;
    /* Adjust top position */
    left: 450px;
    /* Adjust left position */
    z-index: 999;
    /* Ensure it's above other content */
}

li form {
    display: flex;
    align-items: center;
    margin: 0;
}

li form button {
    padding: 5px 10px;
    background-color: #022B3A;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

li form button[name="delete"] {
    background-color: #022B3A;
}