{% extends "base_generic.html" %}
{% block content %}
<div class="mt-5">
    <div class="texts">
        <h2>Esqueceu sua senha?</h2>
        <p style="align-self: center;">Digite seu e-mail abaixo, e nós enviaremos um link para redefinir sua senha.</p>
    </div>
    <form method="post" class="form-group">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email.label_tag }} 
            {{ form.email }}
        </div>
        <button type="submit">Enviar link de redefinição</button>
    </form>
</div>
{% endblock %}