<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>To Do Lists</title>
    <link rel="stylesheet" type="text/css" href="/static/style/to_do_list/lists.css">
</head>
<body>
    <h1>Minhas Listas</h1>

    <!-- Formulário para adicionar nova lista -->
    <form action="{% url 'to_do_list' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="add_list">+ Nova Lista</button>
    </form>

    <ul>
        <!-- Realiza listagem das to_do_lists -->
        {% for lista in listas %}
            <li>
                <div class="list-content">
                    <span>{{ lista.nome }}</span>
                    <div class="buttons">
                        <!-- Botão de Selecionar -->
                        <form action="{% url 'to_do_list' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="select" value="{{ lista.id }}">Selecionar</button>
                        </form>

                        <!-- Botão de Excluir -->
                        <form action="{% url 'to_do_list' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="delete" value="{{ lista.id }}">X</button>
                        </form>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
