<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ lista.nome }}</title>
</head>
<body>
    <h1>{{ lista.nome }}</h1>

    <!-- Formulário para adicionar novo item na lista -->
    <form action="{% url 'list_detail' lista.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="add_item">Adicionar Novo Item</button>
    </form>

    <!-- Botão para retornar a listagem das listas -->
    <form action="{% url 'to_do_list' %}" method="get">
    <button type="submit"><-</button>
    </form>

    <ul>
    {% for item in itens %}
        <li>
            <!-- Botão de Selecionar junto com os itens -->
            <form action="{% url 'list_detail' lista.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <input type="hidden" name="is_done" value="False">
                <input type="checkbox" id="item-{{ item.id }}" name="is_done" value="True" {% if item.is_done %} checked {% endif %} onchange="this.form.submit()">
                <label for="item-{{ item.id }}">{{ item.nome }}</label>
            </form>

            <!-- Botão de Excluir -->
            <form action="{% url 'list_detail' lista.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" name="delete" value="{{ item.id }}" style="background-color: red; color: white;">X</button>
            </form>
        </li>
    {% empty %}
        <li>Nenhum item nesta lista.</li>
    {% endfor %}
    </ul>
</body>
</html>